div.first {
    margin-top: 50vh;
}

div.seconds {
    margin-top: 50vh;
}

div.third {
    margin-top: 50vh;
}

hr {
    margin-top: 50vh;
}

div.horizontal {
    width: 100vw;
    height: 100vh;
}

section
{
    width: 100vw;
    height: 200vh;
    -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 1;           /* IE 10 */
    flex: 1;               /* NEW, Spec - Firefox, Chrome */
}

.col{
    text-align: center;
    width: 50vw;
    float: left;
    box-sizing: border-box;
}

h4{ text-align: center;}

.container{
    outline: 1px solid #eed;
    font-size: 42pt;
    padding: 37.5vh 12.5vw;
}
.block{
    background: #223;
    color: #eed;
    line-height: 25vh;
    text-align: right;
    padding: 0 42pt;
    position: relative;
}
span{
    background: #eed;
    color: #223;
    line-height: 25vh;
    text-align: left;
    padding: 0 42pt;
    display: block;
    width: 50%;
    position: absolute;
    top: 0; left: 0;
    box-sizing: border-box;
}

div.bigbody {
    width: 400vw;
    height: 100vh;
    display: flex;
}
