div.conne-sd-container {
    position: relative;
    height: 0px;
    padding: 0;
}

div.conne-sd-container-position {
    position: absolute;
    top: -330px;
    padding: 0;
}

div.conne-sd-container-position div.row {
    margin: 0;
}

img.conne-sd {
    width: 100%;
    animation: cartoonRotate 2s infinite;
}

div.conne-sd-quote-position {
    position: relative;
}

img.conne-sd-quote {
    width: 100%;
    animation: cartoonRotateFlip 2s infinite;
    position: absolute;
    top: 80px;
    left: 120px;
    z-index: 2;
}

div.conne-sd-ticket-large-position {
    position: relative;
}

img.conne-sd-ticket-large {
    width: 100%;
    position: absolute;
    top: 90px;
    left: 80px;
}

@media (max-width: 576px) {
    div.conne-sd-container-position {
        top: -20vw;
    }

    img.conne-sd-quote {
        top: 20px;
        left: 60px;
        width: 75%;
    }

    img.conne-sd-ticket-large {
        top: 10px;
        left: 60px;
    }
}
@media (min-width: 576px) {
    div.conne-sd-container-position {
        top: -120px;
    }

    img.conne-sd-quote {
        top: 40px;
        left: 80px;
        width: 75%;
    }

    img.conne-sd-ticket-large {
        top: 30px;
        left: 60px;
    }
}
@media (min-width: 768px) {
    div.conne-sd-container-position {
        top: -170px;
    }

    img.conne-sd-quote {
        top: 60px;
        left: 100px;
        width: 80%;
    }

    img.conne-sd-ticket-large {
        top: 40px;
        left: 80px;
    }
}
@media (min-width: 992px) {
    div.conne-sd-container-position {
        top: -230px;
    }

    img.conne-sd-quote {
        top: 60px;
        left: 100px;
        width: 95%;
    }

    img.conne-sd-ticket-large {
        top: 60px;
        left: 50px;
    }
}
@media (min-width: 1200px) {
    div.conne-sd-container-position {
        top: -280px;
    }
    img.conne-sd-quote {
        top: 80px;
        left: 120px;
        width: 100%;
    }
    img.conne-sd-ticket-large {
        top: 90px;
        left: 80px;
    }
}
@media (min-width: 1400px) {
    div.conne-sd-container-position {
        top: -330px;
    }
}
