.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #575243;
}
.footer_title {
    /* font-family: GmarketSans-KSCpc-EUC-H; */
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
hr.line {
    border: none;
    height: 1px;
    background: #ffffff;
    background: repeating-linear-gradient(90deg,#ffffff,#ffffff 6px,transparent 6px,transparent 12px);
}
@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }
}
@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }
}
@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}
