
body,
html {
    width: 100%;
    height: 100vh;
    /* 100% of the viewport height */
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('../img/patterns.png'), url('../img/stars.png'), url("../img/dot_circles.png");
    /* multi background image*/
    background-repeat: repeat, repeat, repeat;
    background-position: center, center, top;
    /* background-size: contain, contain; */
}

div.block1 {
    /* background-image: url("../img/block_1.png"); */
    background-repeat: no-repeat;
    background-position-x: center;
    padding-bottom: 100px;
}

div.block1 img {
    visibility: hidden;
    width: 100%;
    /* height: fit-content; */
}

div.block1-container {
    position: relative;
}

div.block1-container div.block1-body-container {
    position: absolute;
    z-index: 20;
    top: 0;
}

div.block1-container div.block1-text-container {
    position: absolute;
    z-index: 20;
    top: 150px;
}

div.block1-container div.block1-body-container div.block1-text-container .gap-row {
    width: 80%;
    margin: 0 auto;
}

div.block1-title {
    height: 200px;
    font-family: GmarketSans-Bold;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

div.block1-sub-title {
    height: 200px;
    font-family: GmarketSans-Bold;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}
div.block1-info-title {
    height: 10px;
    /* font-family: KoPubWorldDotum; */
    font-size: 24.4px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    white-space: pre-line;
}

span.meet {
    transform: rotate(-10deg);
    padding-left: 5px;
}

div.block2 {
    /* background-image: url("../img/block_2.png"); */
    background-repeat: no-repeat;
    background-position-x: center;
}

div.block2 img {
    visibility: hidden;
    width: 100%;
    /* height: fit-content; */
}

div.block2-container {
    position: relative;
}

div.block2-container div.block2-body-container {
    position: absolute;
    z-index: 2;
    top: 0;
}

div.block2-container div.block2-body-container .gap-row {
    width: 80%;
    margin: 0 auto;
}

div.block2-title {
    height: 180px;
}

div.block2-title div {
    font-family: GmarketSans-Bold;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #333333;
}

/* div.circle-pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99999;
    pointer-events: none;
    background-image: url(../img/dot_circles.png);
    background-repeat: repeat;
    background-position: top;
    top: 0;
    bottom: 0;
} */

div.connechan {
    margin-top: 37px;
}

img.connechan {
    width: 100%;
}

div.title-ribbon {
    position: absolute;
    z-index: -4;
    margin-top: 365px;
    margin-left: 0;
    margin-right: 0;
    animation: upDown 1.5s alternate infinite ease-in-out;
}

div.title-ribbon img {
    width: 100%;
}

div.title-ribbon div {
    padding: 0;
}

div.conne-top-container-back {
    position: absolute;
    z-index: -1;
    /* position: absolute; */
    margin-top: 37px;
    top: 37px;
    /* padding: 0; */
    background-image: url("../img/conne_chan_solid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
    animation: upDown 1.5s alternate infinite ease-in-out;
}

div.conne-top-container-small-back {
    position: absolute;
    z-index: -1;
    /* position: absolute; */
    margin-top: 0;
    top: 37px;
    /* padding: 0; */
    background-image: url("../img/conne_chan_solid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
    animation: upDown 1.5s alternate infinite ease-in-out;
}

div.conne-top-container {
    /* position: absolute; */
    margin-top: 37px;
    top: 37px;
    /* padding: 0; */
    background-image: url("../img/conne_chan.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
    animation: upDown 1.5s alternate infinite ease-in-out;
}

div.conne-top-container-small {
    /* position: absolute; */
    margin-top: 0;
    top: 37px;
    /* padding: 0; */
    background-image: url("../img/conne_chan.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
    animation: upDown 1.5s alternate infinite ease-in-out;
}

div.date-place-info {
    /* margin-top: 7%; */
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    transform: rotate(7deg);
    font-size: 1.5em;
    letter-spacing: 7px;
    /* padding: 20px; */
}

div.date-place-info-small {
    /* margin-top: 7%; */
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    transform: rotate(7deg);
    font-size: 1.2em;
    letter-spacing: 2.5px;
    /* padding: 20px; */
}

div.coalition {
    font-family: GmarketSans-Bold;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

div.first {
    /* font-family: GodoB; */
    font-size: 27.3px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

div.second {
    /* font-family: GodoM; */
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

div.third {
    /* font-family: GodoB; */
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

span.live {
    /* font-family: GodoB; */
    font-size: 27.3px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #fccd21;
}

img.title {
    margin-top: 300px;
    width: 100%;
}

A:link {
    text-decoration: none;
    color: black;
}
A:visited {
    text-decoration: none;
    color: black;
}
A:hover {
    text-decoration: none;
    color: red;
}

@media (max-width: 500px) {
    div.block1-container div.block1-text-container {
        top: 50px;
    }

    div.block1-title {
        font-size: 20px;
        line-height: 1;
        height: 50px;
    }

    div.block2-title {
        font-size: 25px;
        line-height: 1;
        height: 150px;
    }

    div.block1-sub-title {
        font-size: 10px;
        line-height: 1;
        height: 50px;
    }
    div.block1-info-title {
        font-size: 9px;
        line-height: 1;
        height: 40px;
    }

    span.meet {
        padding-left: 3px;
    }

    div.first {
        font-size: 17.3px;
    }
    div.second {
        font-size: 13px;
    }
    div.third {
        font-size: 13px;
    }
    span.live {
        font-size: 17.3px;
    }

    img.title {
        margin-top: 240px;
    }
}
@media (min-width:500px) and (max-width: 576px) {
    div.block1-container div.block1-text-container {
        top: 50px;
    }

    div.block1-title {
        font-size: 25px;
        line-height: 1;
        height: 70px;
    }

    div.block2-title div {
        font-size: 25px;
        line-height: 1;
        height: 150px;
    }

    div.block1-sub-title {
        font-size: 18px;
        line-height: 1;
        height: 90px;
    }
    div.block1-info-title {
        font-size: 15px;
        line-height: 1;
        height: 30px;
    }

    span.meet {
        padding-left: 3px;
    }

    div.first {
        font-size: 25px;
    }
    div.second {
        font-size: 18px;
    }
    div.third {
        font-size: 18px;
    }
    span.live {
        font-size: 25px;
    }

    img.title {
        margin-top: 200px;
    }
}
@media (min-width:576px) and (max-width: 768px) {
    div.block1-container div.block1-text-container {
        top: 80px;
    }

    div.title-ribbon img {
        width: 100%;
    }

    div.block2-container div.block2-body-container .gap-row {
        width: 100%;
        top: -150px;
        margin: 0 auto;
    }

    div.block1-title {
        font-size: 30px;
        line-height: 1;
        height: 100px;
    }

    div.block2-title div {
        font-size: 30px;
        line-height: 1;
        height: 120px;
    }

    div.block1-sub-title {
        font-size: 20px;
        line-height: 1;
        height: 50px;
    }
    div.block1-info-title {
        font-size: 15px;
        line-height: 1;
        height: 70px;
    }

    span.meet {
        padding-left: 3px;
    }

    img.title {
        margin-top: 225px;
    }
}
@media (min-width:768px) and (max-width: 992px) {
    div.block1-container div.block1-text-container {
        top: 100px;
    }

    div.block1-title {
        font-size: 40px;
        line-height: 1;
        height: 120px;
    }

    div.block2-title div {
        font-size: 40px;
        line-height: 1;
        height: 100px;
    }

    div.block1-sub-title {
        font-size: 25px;
        line-height: 1;
        height: 90px;
    }
    div.block1-info-title {
        font-size: 20px;
        line-height: 1;
        height: 90px;
    }

    img.title {
        margin-top: 250px;
    }
}
@media (min-width:992px) and (max-width: 1200px) {
    div.block1-title {
        font-size: 40px;
        line-height: 1;
        height: 150px;
    }

    div.block2-title div {
        font-size: 40px;
        line-height: 1;
        height: 80px;
    }

    div.block1-sub-title {
        font-size: 30px;
        line-height: 1;
        height: 70px;
    }
    div.block1-info-title {
        font-size: 25px;
        line-height: 1;
        height: 120px;
    }

    img.title {
        margin-top: 300px;
    }
}
