
body {
    padding: 0;
    margin: 0;
    background-image: url('../img/patterns.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.connechan {
    margin-top: 37px;
}

img.connechan {
    width: 100%;
}

div.title-ribbon {
    position: absolute;
    z-index: -4;
    margin-top: 365px;
}

div.title-ribbon img{
    width: 100%;
}

div.conne-top-container-back {

    position: absolute;
    z-index: -1;
    /* position: absolute; */
    margin-top: 37px;
    top: 37px;
    /* padding: 0; */
    background-image: url('../img/conne_chan_solid.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

div.conne-top-container-small-back {

    position: absolute;
    z-index: -1;
    /* position: absolute; */
    margin-top: 0px;
    top: 37px;
    /* padding: 0; */
    background-image: url('../img/conne_chan_solid.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

div.conne-top-container { 
    /* position: absolute; */
    margin-top: 37px;
    top: 37px;
    /* padding: 0; */
    background-image: url('../img/conne_chan.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

div.conne-top-container-small { 
    /* position: absolute; */
    margin-top: 0px;
    top: 37px;
    /* padding: 0; */
    background-image: url('../img/conne_chan.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

div.date-place-info {
    /* margin-top: 7%; */
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    transform: rotate(7deg);
    font-size: 1.5em;
    letter-spacing: 7px;
    /* padding: 20px; */
}

div.date-place-info-small {
    /* margin-top: 7%; */
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    transform: rotate(7deg);
    font-size: 1.2em;
    letter-spacing: 2.5px;
    /* padding: 20px; */
}

img.title {
    margin-top: 300px;
    width: 100%;
}